$body-background-color: #111;
$body-color: #f1f1f1;
$strong-color: #fff;
$primary: #b23bf0;
$footer-background-color: #222;

::-webkit-scrollbar {
  display: none;
  opacity: 0;
  width: 0;
}

@import "~bulma/bulma.sass";
@import "~bulma-tooltip/src/sass/index.sass";
@import "vue-select/src/scss/vue-select.scss";

.input {
  background: #222;
  color: #c1c1c1;
  border-color: #222;

  &:hover {
    border-color: #c1c1c1;
  }

  &:focus,
  &.is-focused {
    border-color: #b23bf0;
  }
  &:disabled {
    background: #363636;
    border-color: #363636;
  }
}
textarea.input {
  min-height: 50px;
}

label.label {
  color: #c1c1c1;
}

footer.footer {
  padding: 3rem;
}

.div-wrapper {
  background-color: rgba(0, 0, 0, 0.18);
  padding: 1.6rem;
  border-radius: 6px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.select.is-dark {
  & > select {
    background: #222;
    color: #c1c1c1;
    border-color: #222;

    option {
      background-color: #222;
    }
  }
}

.field.is-danger {
  .hint {
    margin-top: 10px;
    font-size: 0.9rem;
    color: red;
  }
  select,
  input,
  textarea {
    border-color: red;
    &:hover {
      border-color: red;
    }
  }
}
.vs--disabled {
  background: #363636;
  border-color: #363636;

  .vs__dropdown-toggle,
  .vs__search,
  .vs__open-indicator {
    background: #363636;
    border-color: #363636;
  }

  .vs__open-indicator {
    fill: #363636;
  }
}

.v-select {
  background: #222;
  border-radius: 4px;
  input,
  .vs__selected {
    color: #c1c1c1;
  }
  .vs__dropdown-menu {
    background: #222;

    li {
      color: #c1c1c1 !important;
    }
  }
}
